.skill {
    padding: 80px 0 100px 0;
    position: relative;
}
.skill-box {
    margin-top: 40px;
    background: #04041c;
    border-radius: 64px;
    text-align: center;
    padding: 60px 50px;
    margin-top: -60px;
}

.skill-box h1 {
    font-family: 'Cyberwar-light', sans-serif !important;
    color: #E8018A;
    text-shadow:  #04a8ec70 0 5px 6px;
    font-size: 5.5em;
    text-align: center;
}
.skill-box p {
    padding: 3% 6% 0 6%;
    font-family: 'Montserrat-Light', sans-serif !important;
    text-align: center;
}
.skill-slider {
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.skill-slider .item img {
    width: 50%;
    margin: 0 auto 15px auto;
}
.background-image-left {
    top: 28%;
    position: absolute;
    bottom: 0;
    width: 40%;
    z-index: -4;
}
.skill-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.skill-container {
    display: flex;
}


