.skill {
    padding: 80px 0 100px 0;
    position: relative;
}
.skill-box {
    margin-top: 40px;
    background: #04041c;
    border-radius: 64px;
    text-align: center;
    padding: 60px 50px;
    margin-top: -60px;
}

.skill-box h1 {
    font-family: 'Cyberwar-light', sans-serif !important;
    color: #E8018A;
    text-shadow:  #04a8ec70 0 5px 6px;
    font-size: 5.5em;
    text-align: center;
}
.skill-box p {
    padding: 3% 6% 0 6%;
    font-family: 'Montserrat-Light', sans-serif !important;
    text-align: center;
}
.skill-info, .other-skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.skill-container {
    display: flex;
}
.other-skills-container {
    padding: 100px 0 68px 0;
}

.social-icons {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-top: 54px;
}
.skills-icons {
    margin: 0 20px 0 20px;
    fill: none;
    stroke-width: 0.5px;
}
.git-icon{
    filter: drop-shadow(2px 4px 6px #F0502F);
    stroke: #F0502F;
}
.figma-icon{
    filter: drop-shadow(2px 4px 6px #B759FF);
    stroke: #09CF81 ;
}
.mysql-icon{
    filter: drop-shadow(2px 4px 6px #01618A);
    stroke: #01618A;
}
.postman-icon{
    filter: drop-shadow(2px 4px 6px #FD6C35);
    stroke: #FD6C35;
}
.bootstrap-icon{
    filter: drop-shadow(2px 4px 6px #890BFC);
    stroke: #890BFC;
}
.react-native-icon{
    filter: drop-shadow(2px 4px 6px #27D9FD);
    stroke: #27D9FD;
}
.photoshop-icon{
    filter: drop-shadow(2px 4px 6px #0362ae);
    stroke: #0362ae;
}
.firebase-icon{
    filter: drop-shadow(2px 4px 6px #F5820E);
    stroke: #FFCA2B;
}
.gcp-icon{
    filter: drop-shadow(2px 4px 6px #4384F4);
    stroke: #EA4335;
}
