.contact {
    padding: 80px 0 100px 0;
    position: relative;
}
.contact-description, .contact-references{
    margin-top: 10px;
    text-align: center;
}
.contact-references {
    padding: 10px 0 10px 0;
    font-family: 'Montserrat-bold', sans-serif !important;
}

.small-title {
    font-size: 5.0em !important;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    padding: 20px 20px 20px 0;
}

.link {
    text-decoration: none;
    color: #b7b7b7;
    margin: 10px 16px 10px 16px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(28 28 28 / 39%);
    border-radius: 10px;
    position: relative;
    transition: 0.4s;
    padding: 10px 0 10px 0;
}

.link:hover {
    transform: rotate(45deg);
}

.link::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #373737;
    border-radius: 10px;
    transition: opasity 0.2s;
}

.link:hover::before {
    opacity: 0.4;
}

.link:nth-child(1)::before {
    background: #c32aa3;
}

.link:nth-child(2)::before {
    background: #1da1f2;
}

.link:nth-child(3)::before {
    background: #25d366;
}

.link:nth-child(4)::before {
    background: #0a66c2;
}

.link:hover::before {
    transform: translate(-4px, -4px);
    filter: blur(10px);
}

.link svg {
    font-size: 2.0em;
    transition: all 0.4s;
}

.link:hover svg {
    color: #c8c8c8;
    transform: rotate(-45deg);
}

.link:hover svg.instagram {
    color: #c32aa3;
}

.link:hover svg.twitter {
    color: #1da1f2;
}

.link:hover svg.whatsapp {
    color: #25d366;
}

.link:hover svg.linkedin {
    color: #0a66ca;
}