/*Custom Fonts*/
@font-face {
  font-family: Cyberwar-light;
  src: url(./assets/fonts/Cyberwar-regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Montserrat-Light;
  src: url(./assets/fonts/Montserrat-Light.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Montserrat-Medium;
  src: url(./assets/fonts/Montserrat-Medium.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Montserrat-Bold;
  src: url(./assets/fonts/Montserrat-Bold.ttf);
  font-weight: 700;
}

/*Default CSS*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #010112 !important;
  color: #fff !important;
  font-family: 'Montserrat-Light', sans-serif !important;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

.cyberpunk-text {
  font-family: 'Cyberwar-light', sans-serif !important;
  color: #E8018A;
  text-shadow:  #04a8ec70 0 5px 6px;
  font-size: 5.5em;
  text-align: center;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}





