.banner {
    margin-top: 0;
    padding: 260px 0 100px 0;
    background-image: url('./assets/img/banner-bg.png');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner .tagline {
    width: 50%;
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 20px;
    margin-bottom: 16px;
    display: inline-block;
}
.banner h1 {
    font-size: 94px;
    font-weight: 700;
    letter-spacing: 2.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
}
.banner p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
}
.banner button {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-top: 60px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
}
.banner button svg {
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
}
.banner button:hover svg {
    margin-left: 25px;
}
.banner img {
    animation: updown 3s linear infinite;
}
@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}
.name-info {
    display: flex;
    flex-direction: column;
}
.name-info h1, h3 {
    font-family: 'Cyberwar-light', sans-serif !important;
    color: #E8018A;
    text-shadow:  #04a8ec70 0 5px 6px;
}
.name-info h1 {
    font-size: 8em;
    text-align: end;
}
.name-info h1:first-child{
    text-align: start;
}
.name-info h3 {
    font-size: 3em;
    text-align: center;
}
.txt-rotate > .wrap {
    border-right: 0.08em solid #666;
}

h1.cyberpunk:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 2px;
    width: 100%;
    height: 10px;
}

h1.cyberpunk.glitched {
    animation-name: h1glitched;
    animation-duration: calc(0.9s * 1.4);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes h1glitched {
    0% {
        transform: skew(-20deg);
        left: -4px;
    }
    10% {
        transform: skew(-20deg);
        left: -4px;
    }
    11% {
        transform: skew(0deg);
        left: 2px;
    }
    50% {
        transform: skew(0deg);
    }
    51% {
        transform: skew(10deg);
    }
    59% {
        transform: skew(10deg);
    }
    60% {
        transform: skew(0deg);
    }
    100% {
        transform: skew(0deg);
    }
}

h1.cyberpunk.glitched:before {
    animation-name: h1beforeglitched;
    animation-duration: calc(0.9s * 2);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes h1beforeglitched {
    0% {
        transform: skew(-20deg);
        left: -4px;
        clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
    }
    10% {
        transform: skew(-20deg);
        left: -4px;
        clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
    }
    11% {
        transform: skew(0deg);
        left: 2px;
        clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
    }
    50% {
        transform: skew(0deg);
        clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
    }
    51% {
        transform: skew(0deg);
        clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 40% 5px, calc(40% - 30px) 0px, calc(40% + 30px) 0px, calc(45% - 15px) 5px, 100% 5px, 100% 6px, calc(45% - 14px) 6px, calc(40% + 29px) 1px, calc(40% - 29px) 1px, calc(40% + 1px) 6px, 85px 6px, 80px 10px, 0px 10px);
    }
    59% {
        transform: skew(0deg);
        clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 40% 5px, calc(40% - 30px) 0px, calc(40% + 30px) 0px, calc(45% - 15px) 5px, 100% 5px, 100% 6px, calc(45% - 14px) 6px, calc(40% + 29px) 1px, calc(40% - 29px) 1px, calc(40% + 1px) 6px, 85px 6px, 80px 10px, 0px 10px);
    }
    60% {
        transform: skew(0deg);
        clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
    }
    100% {
        transform: skew(0deg);
        clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
    }
}

h1.cyberpunk:after {
    content: "_";
    animation-name: hxafter;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes hxafter {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    51% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}